<h3>
    <a class="btn btn-outline-primary m-2 col-12" [routerLink]="['new']">{{'new-stuff'|transloco}}</a>
</h3>

<div class="row">

    <!-- <app-form-input [labelName]="'search'" (value)="searchTerm=$event"></app-form-input> -->
    <div class="col-12">
        <app-form-input [labelName]="'search'" (value)="this.stuffService.searchTerm=$event"></app-form-input>
    </div>
</div>
<div class="row justify-content-center">
    @for (s of stuffService.filterdStuff; track $index) {
    <div class="col-12 rounded col-md-3 m-3 text-center rounded-5 border-info border-4 shadow-lg bg-body-secondary bg-opacity-50 bg-gradient customer-template">
        <div class="row">
            <div class="col-12 bg-info"></div>
            <div class="col-12 text-info">
                <b> {{s.name}} {{s.description}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <b> {{'quantity'|transloco}} <b class="text-info"></b> {{s.quantity}}</b>
            </div>
            <div class="col-6 text-center">
                <b> {{'pricePerDay'|transloco}} <b class="text-info"></b> {{s.pricePerDay}}</b>
            </div>
        </div>
        <div class="col-12 border-3 link-body-emphasis">
            <button class="btn"><span class="bi bi-eye" (click)="showMoreInfo($event,s.id)"></span></button>
        </div>
    </div>
    }
    <app-pop-up id="morePopUp" #popUp></app-pop-up>
</div>


<!-- Modal trigger button
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modalId">
                {{'details'|transloco}}
            </button> -->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<!-- <div class="modal fade" id="modalId" tabindex="-1" data-bs-keyboard="false" role="dialog"
                aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">
                                {{s.name}} {{s.description}}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row"> {{s.name}} </div>
                            <div class="row">{{s.description}}</div>
                            <div class="row">{{s.pricePerDay}}</div>
                            <div class="row">{{s.quantity}}</div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                {{"close"|transloco}}
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->