.closed {
    display: block;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background-color: black;
    :hover::content{
    }
}

.open {
    display: block;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background-color: rgba(34, 250, 196, 0.555);
}

.money {
    display: block;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background-color: rgba(250, 66, 34, 0.555);
}