.badge {
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
    height: 20px;
    box-shadow: 1cm;
    box-shadow: 0cm;
    width: 20px;
    margin: 3px;
}

.blinking {
    animation: blinking 1s linear infinite;
}

.blinking-slow {
    animation: blinking 2s linear infinite;
}

@keyframes blinking {
    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 25%;
    }

}

.ready-to-be-closed {
    background-color: rgba(70, 2, 2, 0.685);
}

.ready-to-be-closed-text {
    color: rgba(70, 2, 2, 1);
    background-color: rgba(70, 2, 2, 0.2);
    border-radius: 20%;
}

.closed {
    background-color: black;
}

.closed-text {
    color: black;
    background-color: (0, 0, 0, 0.2);
    border-radius: 20%;
}

.open {
    background-color: rgba(34, 250, 196, 0.555);
}

.open-text {
    color: rgba(0, 80, 60, 0.932);
    background-color: rgba(34, 250, 196, 0.2);
    border-radius: 20%;
}

.money {
    background-color: rgba(250, 66, 34, 0.555);
}

.money-text {
    color: rgba(250, 66, 34, 1);
    background-color: rgba(250, 66, 34, 0.2);
    border-radius: 20%;
}