<div class="sidebar-menu">
    <span class="toggle-side-menu" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
    <div #mySpan class="overlay">
        <a class="closebtn" (click)="closeNav()">&times;</a>
        <div class="overlay-content">


            <a (click)="closeNav()" [routerLink]="[this.transLoco.getActiveLang(),'welcome']" class="nav-link active"
                data-bs-toggle="tab" aria-current="page" routerLinkActive="active"> <span class="bi bi-house"></span>
                {{'app-name'|transloco}} <b>{{userManager.userInfo!==null?"":" - "}} {{
                    userManager.userInfo.storeName}}</b></a>



            @if(userManager.userInfo.isLoggedIn==false)
            {
            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'login']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-box-arrow-in-left"></span> {{'login'|transloco}}</a>
            </li>
            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'sign-up']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-door-open"></span> {{'signUp'|transloco}}</a>
            </li>
            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'features']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-list-stars"></span> {{'features'|transloco}}</a>
            </li>

            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'about']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-info-circle"></span> {{'aboutUs'|transloco}}</a>
            </li>
            }
            @if(userManager.userInfo.isLoggedIn==true) {
            <li>
                <a>
                    {{'welcome'|transloco}}<b> {{userManager.userInfo.fullName}}</b>
                </a>
            </li>
            }


            @if(userManager.userInfo.isLoggedIn==true){
            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[this.transLoco.getActiveLang(),'contracts']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"><span class="bi bi-card-list"></span> {{'contracts'|transloco}}</a>
            </li>

            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[this.transLoco.getActiveLang(),'stuff']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active" data-toggle="tooltip" data-placement="bottom"
                    [title]="'stuffTooltip'|transloco"><span class="bi bi-tools"></span> {{'stuff'|transloco}}</a>
            </li>
            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'customers']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-people"></span> {{'customers'|transloco}}</a>
            </li>

            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'users']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-people"></span> {{'users'|transloco}}</a>
            </li>

            <li (click)="closeNav()" class="nav-item" role="presentation">
                <a [routerLink]="[transLoco.getActiveLang(),'settings']" class="nav-link" data-bs-toggle="tab"
                    routerLinkActive="active"> <span class="bi bi-gear-fill"></span> {{'settings'|transloco}}</a>
            </li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    🌐
                    {{selectedLang}}
                </a>
                <ul class="dropdown-menu text-center lang-list" aria-labelledby="navbarDropdown">
                    <li><input type="search" class="form-control" [placeholder]="'search'|transloco" /></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li><a class="dropdown-item " routerLinkActive="active" (click)="changeLang('fa')">Persian
                            (فارسی)</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('en')">English</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ka')">Georgian
                            (ქართული)</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ru')">Russion
                            (Русский)</a></li>
                    <li>
                        <hr class="dropdown-divider ">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ch')">Chinese (中国人)</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('it')">Italian
                            (Italiana)</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('fr')">France</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ar')">Arabic (عربی)</a>
                    </li> -->
                </ul>
            </li>

            <li class="nav-item" (click)="closeNav()" role="presentation">
                @if (!isDarkMode) {
                <a [href]="">
                    <span class="bi bi-moon-stars-fill nav-link" (click)="toggleDarkMode()"></span>
                </a>

                }
                @if (isDarkMode) {
                <a>
                    <span class="bi bi-sun-fill nav-link" (click)="toggleDarkMode()"></span>
                </a>
                }
            </li>

            @if(userManager.userInfo.isLoggedIn==true) {

            <li class="nav-item" role="presentation">
                <a (click)="userManager.logOut()" class="nav-link" data-bs-toggle="tab" routerLinkActive="active"> <span
                        class="bi bi-power"></span> {{'logOut'|transloco}}</a>
            </li>
            }
        </div>
    </div>
</div>
















<div class="normal-menu">

    <ul class="nav nav-tabs" id="navId" role="tablist">
        <li class="nav-item">
            <a [routerLink]="[this.transLoco.getActiveLang(),'welcome']" class="nav-link active" data-bs-toggle="tab"
                aria-current="page" routerLinkActive="active"> <span class="bi bi-house"></span>
                {{'app-name'|transloco}} <b>{{userManager.userInfo!==null?"":" - "}} {{
                    userManager.userInfo.storeName}}</b></a>
        </li>



        @if(userManager.userInfo.isLoggedIn==true){
        <li class="nav-item" role="presentation">
            <a [routerLink]="[this.transLoco.getActiveLang(),'contracts']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"><span class="bi bi-card-list"></span> {{'contracts'|transloco}}</a>
        </li>

        <li class="nav-item" role="presentation">
            <a [routerLink]="[this.transLoco.getActiveLang(),'stuff']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active" data-toggle="tooltip" data-placement="bottom"
                [title]="'stuffTooltip'|transloco"><span class="bi bi-tools"></span> {{'stuff'|transloco}}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'customers']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-people"></span> {{'customers'|transloco}}</a>
        </li>

        <li class="nav-item" role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'users']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-people"></span> {{'users'|transloco}}</a>
        </li>

        <li class="nav-item" role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'settings']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-gear-fill"></span> {{'settings'|transloco}}</a>
        </li>
        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                🌐
                {{selectedLang}}
            </a>
            <ul class="dropdown-menu text-center lang-list" aria-labelledby="navbarDropdown">
                <li><input type="search" class="form-control" [placeholder]="'search'|transloco" /></li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li><a class="dropdown-item " routerLinkActive="active" (click)="changeLang('fa')">Persian (فارسی)</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('en')">English</a></li>
                <!-- <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ka')">Georgian (ქართული)</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ru')">Russion (Русский)</a>
                </li>
                <li>
                    <hr class="dropdown-divider ">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ch')">Chinese (中国人)</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('it')">Italian (Italiana)</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('fr')">France</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ar')">Arabic (عربی)</a></li> -->
            </ul>
        </li>

        <li class="nav-item" role="presentation">
            @if (!isDarkMode) {
            <span class="bi bi-moon-stars-fill nav-link" (click)="toggleDarkMode()"></span>
            }
            @if (isDarkMode) {
            <span class="bi bi-sun-fill nav-link" (click)="toggleDarkMode()"></span>
            }
        </li>

        @if(userManager.userInfo.isLoggedIn==false)
        {
        <li class="nav-item float-end" role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'login']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-box-arrow-in-left"></span> {{'login'|transloco}}</a>
        </li>
        <li class="nav-item float-end" role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'sign-up']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-door-open"></span> {{'signUp'|transloco}}</a>
        </li>

        <li class="nav-item " role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'features']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-list-stars"></span> {{'features'|transloco}}</a>
        </li>

        <li class="nav-item " role="presentation">
            <a [routerLink]="[transLoco.getActiveLang(),'about']" class="nav-link" data-bs-toggle="tab"
                routerLinkActive="active"> <span class="bi bi-info-circle"></span> {{'aboutUs'|transloco}}</a>
        </li>
        }
        @else {
        <p>{{'welcome'|transloco}} <b> {{userManager.userInfo.fullName}}</b></p>
        <li class="nav-item" role="presentation">
            <a (click)="userManager.logOut()" class="nav-link" data-bs-toggle="tab" routerLinkActive="active"> <span
                    class="bi bi-power"></span> {{'logOut'|transloco}}</a>
        </li>
        }

    </ul>

</div>

<div class="alert alert-warning text-center alert-dismissible">
    <span class="bi bi-envelope-paper-heart"></span>
    {{'underDev'|transloco}}
</div>