<form class="">
    <div class="row">
        <div class="col-12 col-md-4 m-1">
            <input name="name" class="form-control text-body-emphasis" type="text" placeholder='Name'>
        </div>

        <div class="col-12 col-md-4 m-1">
            <input name="lastName" class="form-control" type="text" placeholder="Last Name">
        </div>

        <div class="col-12 col-md-4 m-1">
            <input name="fatherName" class="form-control" type="text" placeholder="Father Name">
        </div>

        <div class="col-12 col-md-4 m-1">
            <input name="mobile" class="form-control" type="text" placeholder="Mobile">
        </div>

        <div class="col-12 col-md-4 m-1">
            <input name="refereeName" class="form-control" type="text" placeholder="Referee Name">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 m-1">
            <input  class="form-control btn btn-info" type="button" value="Cancel" placeholder="Referee Name">
        </div>

        <div class="col-12 col-md-4 m-1">
            <input  class="form-control btn btn-success" type="submit" value="Save" placeholder="Referee Name">
        </div>
    </div>
</form>