<div class="row">
    <app-form-input-number [labelName]="'contractNoSeed'"
        (value)="settingService.setting.contractNoSeed=$event"></app-form-input-number>
</div>

<div class="row">
    <app-form-input [labelName]="'locale'" (value)="settingService.setting.locale=$event" [val]="settingService.setting.locale"></app-form-input>
</div>

<div class="row">
    <app-form-input-number [labelName]="'taxPercent'" 
        (value)="settingService.setting.taxPercent=$event" [val]="settingService.setting.taxPercent"></app-form-input-number>
</div>

<div class="row">
    <app-form-input-number [labelName]="'serviceType'"
        (value)="settingService.setting.serviceType=$event"></app-form-input-number>
</div>

<!-- <div class="row">
    <select>
        <option value="Rent" selected>Rent</option>
        <option value="Sell">Sell</option>
        <option value="Both">Both</option>
    </select>
</div>

<div class="row form-control">
    <select>
        <option value="Hourly">{{'hourly'|transloco}}</option>
        <option value="DailyRoundUp">{{'dailyRoundUp'|transloco}}</option>
        <option value="DailyRoundDown">{{'dailyRoundDown'|transloco}}</option>
    </select>
</div> -->

<div class="row">
    <button class="btn btn-outline-primary" (click)="save()">Sve</button>
</div>