.add-new-item-modal {
    opacity: .85;
    background-color: rgb(113, 78, 236);
    border-radius: 20px;
}

.contract-item-header {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(103, 230, 247, 0.1);
    border-radius: 10px 10px 0 0;
    color: black;
}

.contract-item {
    width: 100%;
    background-color: #d0d0d0;
    border-radius: 20px;
    margin-top: 10px;
    transition-duration: 77ms;
    align-items: baseline;
    padding-top: 5px;

    &:hover{
    background-color: #b37aeb75;
    }
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    left: 50%;
}

.fix-save-button {
    //position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    bottom: 0;
    margin: 20px;
    width: 100%;
}

.contract-item-icon:hover {
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 10px;
    color: black;
    transition-duration: 0.300ms;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option
{
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}