<form name="create-contract-form">
    <div class="row">
        <div class="col-12 text-center">
            <ng-select [items]="customerService.filterdCustomers" [typeahead]="inputSearchCustomer$"
                [notFoundText]="'notFound'|transloco" class="text-center center" bindValue="id" bindLabel="fullName"
                [placeholder]="'customer'|transloco" (change)="selectedCustomerChanged($event)" autofocus default>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <span class="col-6 p-3 text-start border-1 text-success">{{ item.fullName}}</span>
                    <span class="col-6 p-3 text-start border-1 text-info">{{ item.mobile}}</span>
                </ng-template>
            </ng-select>
        </div>

        <div class="row">
            <div class="col-6">
                <app-form-input-date [labelName]="'date'" (value)="contract.date=($event)"></app-form-input-date>
            </div>

            <div class="col-6">
                @if (contract.date!=undefined)
                {
                <p class="text-success h4 p-5">{{contract.date.toLocaleDateString('fa-Ir')}}
                    {{contract.date.getHours()|number:'2.0'}}:{{contract.date.getMinutes()|number:'2.0'}}</p>
                }
            </div>
        </div>

        <div class="col-12">
            <app-form-input [labelName]="'rentLoaction'" (value)="contract.rentLocation=($event)"></app-form-input>
        </div>

        <div class="col-12">
            <app-form-input-number [labelName]="'prepayment'"
                (value)="contract.prePaidMoney=($event)"></app-form-input-number>
        </div>

        <div class="col-12">
            <app-form-input-number [labelName]="'howManyDaysClaim'"
                (value)="contract.howManyDaysClaim=($event)"></app-form-input-number>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-lg col-12" data-bs-toggle="modal"
        data-bs-target="#modalId">
        {{'selectStuff'|transloco}}
    </button>

    <div class="row">
        <div class="contract-item-header row">
            <div class="col-3 h6 text-info text-center">
                {{'name'|transloco}}
            </div>

            <div class="col-3 h6 text-info text-center">
                {{'quantity'|transloco}}
            </div>

            <div class="col-3 h6 text-info text-center">
                {{'pricePerDay'|transloco}}
            </div>

            <div class="col-3 h6 text-info text-center">
                {{'totalPrice'|transloco}}
            </div>

        </div>

        @for (item of contract.items; track $index) {

        <div class="contract-item row">
            <div class=" col-3 h6 text-center">
                {{item.stuff.name}}
            </div>

            <div class="col-3 h6 text-center">
                {{item.quantity}}
            </div>

            <div class="col-2 h6 text-center">
                {{item.pricePerDay}}
            </div>

            <div class="col-2 h6 text-center">
                {{item.pricePerDay * item.quantity}}
            </div>

            <div class="col-2 p-2 h6 text-info text-center">
                <a class="col-4 text-center contract-item-icon" (click)="deleteItem($event)">
                    <span class="bi bi-eraser-fill"></span>
                </a>
                <a class="col-4 p-2 text-center contract-item-icon" (click)="moreInfo($event)">
                    <span class="bi bi-info-circle-fill"></span>
                </a>
            </div>
        </div>
        }

        @if(this.contract.items.length>0){
        <div class="row fix-save-button">
            <button class="btn btn-outline-success col-8 " (click)="save()">{{'save'|transloco}}</button>
        </div>
        }

    </div>

    <!-- Modal -->
    <div class="modal fade add-new-item-modal" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center;width: 100%;" id="modalTitleId">
                        {{"newContractItem"|transloco}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ng-select [items]="stuffService.stuff" #selectStuff [typeahead]="inputSearchStuff$"
                        class="text-center center" bindValue="" bindLabel="name" [notFoundText]="'notFound'|transloco"
                        [placeholder]="'stuff'|transloco" autofocus (change)="selectedStuffChanged($event)">

                        <ng-template ng-option-tmp let-item="item" let-index="index"
                            style="width: 100%; text-align: center;">
                            <span class="col-6 p-3 text-start border-1 text-success">{{ item.name}}</span>
                            <span class="col-6 p-3 text-start border-1">
                                {{'remainingInStock'|transloco}} {{item.quantity}}
                            </span>
                        </ng-template>
                    </ng-select>

                    <div class="col-12">
                        <app-form-input-number #pricePerDayRef [labelName]="'pricePerDay'"
                            (value)="contractItem.pricePerDay=($event)"></app-form-input-number>
                    </div>

                    <div class="col-12">
                        <app-form-input-number #inputRef [labelName]="'quantity'"
                            (value)="contractItem.quantity=($event)"></app-form-input-number>
                    </div>

                    <div class="col-12">
                        <app-form-input #inputRef [labelName]="'description'"
                            (value)="contractItem.description=($event)"></app-form-input>
                    </div>
                </div>

                <!-- modal footer -->
                <div class="modal-footer p-4">
                    <div class="col-12">

                        @if (selectedStuff!=null || selectedStuff !=undefined) {
                        <div class="row">
                            <p class="col-12 text-center">
                                {{"quantity"|transloco}} {{"pricePerDay"|transloco}} =
                                <b class="text-info">{{contractItem.quantity *
                                    pricePerDayRef.getValue()|number}}
                                </b>
                            </p>
                        </div>
                        }
                        <div class="row">
                            <div class="col-12 col-md-6 p-3">
                                <div>
                                    <button type="button" class="btn btn-outline-primary col-12" (click)="addItem()">
                                        <span class="bi bi-plus-lg"></span>
                                        {{"add" |transloco}}</button>
                                </div>

                            </div>

                            <div class="col-12 col-md-6 p-3">
                                <div>
                                    <button type="button" class="btn btn-outline-dark col-12 " data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <span class="bi bi-door-open"></span>
                                        {{"close" |transloco}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>