
<div class="justify-content-center">

    <div class="col-12 col-md-6 col-lg-4">
        <app-form-input #input  (onChange)="onValueChagned($event)" [labelName]="'changePassword.oldPassword'" [type]="'password'"
            (value)="userManager.changePasswrodModel.oldPassword=($event)"></app-form-input>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <app-form-input #input  (onChange)="onValueChagned($event)" [labelName]="'changePassword.newPassword'" [type]="'password'"
            (value)="userManager.changePasswrodModel.newPassword=($event)"></app-form-input>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <app-form-input #input (onChange)="onValueChagned($event)" [labelName]="'changePassword.confirmNewPassword'" [type]="'password'"
            (value)="userManager.changePasswrodModel.confirmNewPassword=($event)"></app-form-input>
    </div>


    <div class="col-12 col-md-6 col-lg-4">
        <input class="form-control btn btn-outline-success" (click)="changePass()" type="button"
            [value]="'changePassword.change'|transloco">
    </div>
</div>