<!-- todo: this page should be translated... -->


<h3 class="text-info-emphasis">
    {{'hiw.one'|transloco}}
</h3>

<p>
    {{'hiw.two'|transloco}}
</p>

<hr />

<h3 class="text-info-emphasis">
    {{'hiw.features'|transloco}}
</h3>

<ul class="">
    <li>
        <h2>{{'hiw.multLang'|transloco}}</h2>
        <span>{{'hiw.multLangDes'|transloco}} </span>

    </li>
    <li>
        <h2>{{'hiw.respDesign'|transloco}}</h2>
        <span>{{'hiw.respDesignDes'|transloco}} </span>

    </li>
    <li>
        <h2>{{'hiw.freeToUse'|transloco}}</h2>
        <span>{{'hiw.freeToUseDes'|transloco}}</span>

    </li>
    <li>
        <h2>{{'hiw.quickSetup'|transloco}}</h2>
        <span> {{'hiw.quickSetupDes'|transloco}}</span>

    </li>
    <li>
        <h2>{{'hiw.employeeUsersCreation'|transloco}}</h2>
        <span>
            {{'hiw.employeeUsersCreationDes'|transloco}}
        </span>

    </li>
    <li>
        <h2> {{'hiw.custManagement'|transloco}}</h2>
        <span> {{'hiw.custManagementDes'|transloco}}</span>

    </li>
    <li>
        <h2> {{'hiw.inventoryManagement'|transloco}}</h2>
        <span> {{'hiw.inventoryManagementDes'|transloco}} </span>
    </li>
    <li>
        <h2> {{'hiw.contractManagement'|transloco}}</h2>
        <span>
            {{'hiw.contractManagementDes'|transloco}}
        </span>

    </li>
    <li>
        <h2>{{'hiw.returnManagement'|transloco}}</h2>
        <span>
            {{'hiw.returnManagementDes'|transloco}}
        </span>

    </li>

    <li>
        <h2>{{'hiw.paymentTracking'|transloco}}</h2>
        <span>
            {{'hiw.paymentTrackingDes'|transloco}}
        </span>

    </li>
</ul>