<h3>
  <a class="btn btn-outline-primary  m-2  col-12" [routerLink]="['new']">{{'new-customer'|transloco}}</a>
</h3>

<app-toast></app-toast>

<div class="row">
  <app-form-input [labelName]="'search'" (value)="searchTerm=$event"></app-form-input>
</div>

<div class="row justify-content-center">
  @for (cus of customerService.filterdCustomers; track $index) {
  <div
    class="col-12 rounded col-md-3 m-3 text-center rounded-5 border-info border-4 shadow-lg bg-body-secondary bg-opacity-50 bg-gradient customer-template">
    <div class="row">
      <div class="col-12 bg-info"></div>
      <div class="col-12 text-primary">
        <b> {{cus.fullName}}</b>
      </div>
      <div class="col-12 border-3">
        {{cus.nationalityCode}}
      </div>
      <div class="col-12 border-3">
        {{cus.mobile}}
      </div>
      <div class="col-12 border-3">
        {{cus.address}}
      </div>

      <div class="col-12 border-3 link-body-emphasis">
        <button class="btn"><span class="bi bi-eye" (click)="showMoreInfo($event,cus.id)"></span></button>
      </div>
    </div>
  </div>
  }
  <app-pop-up #popup id="morePopUp"></app-pop-up>
</div>