<button type="button" class="btn btn-outline-primary btn-lg col-12" data-bs-toggle="modal"
    data-bs-target="#addReturnItem">
    {{'return'|transloco}}
</button>


<!-- Modal -->
<div class="modal fade add-new-item-modal" id="addReturnItem" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
        <!-- <div class="modal-dialog modal-sm modal-fullscreen" role="document"> -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;width: 100%;" id="modalTitleId">
                    {{"returnItem"|transloco}}
                </h5>
                <h6>
                    {{item.stuff.name}}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="col-12">
                    <app-form-input-number [labelName]="'quantity'"
                        (value)="contractService.newReturnItem.quantity=($event)"></app-form-input-number>
                </div>

                
                <div class="col-12">
                    <app-form-input-date [labelName]="'date'" [draggable]="true"
                    (value)="contractService.newReturnItem.returnDateTime=($event)"></app-form-input-date>
                </div>
        
                <div class="col-12">
                    <app-form-input-number [labelName]="'price'"
                        (value)="contractService.newReturnItem.price=($event)"></app-form-input-number>
                </div>

                <div class="col-12">
                    <ng-select [(ngModel)]="contractService.newReturnItem.itemStatus">
                        <ng-option [value]="1">{{'ok'|transloco}}</ng-option>
                        <ng-option [value]="2">{{'notOk'|transloco}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- modal footer -->
            <div class="modal-footer p-4">
                <div class="col-12">


                    <div class="row">
                        <div class="col-12 col-md-6 p-3">
                            <div>
                                <button type="button" class="btn btn-outline-primary col-12" (click)="addReturnItem()">
                                    <span class="bi bi-plus-lg"></span>
                                    {{"return" |transloco}}</button>
                            </div>

                        </div>

                        <div class="col-12 col-md-6 p-3">
                            <div>
                                <button type="button" class="btn btn-outline-dark col-12 " data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span class="bi bi-door-open"></span>
                                    {{"close" |transloco}}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>