#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    opacity: 0.9;
    // background-color: rgba(red, green, rgba(23, 23, 212, 0.473), 0.5);
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

// #div1 {
//     width: 350px;
//     height: 70px;
//     padding: 10px;
//     border: 1px solid #aaaaaa;
// }