<div class="contract-item-header row">
    <div class="col-3 h6 text-info text-center">
        {{'name'|transloco}}
    </div>


    <div class="col-2 h6 text-info text-center">
        {{'pricePerDay'|transloco}}
    </div>

    <div class="col-2 h6 text-info text-center">
        {{'totalPrice'|transloco}}
    </div>

    <div class="col-2 h6 text-info text-center">
        {{'quantity'|transloco}}
    </div>

    <div class="col-1 h6 text-info text-center">
        {{'remainingItems'|transloco}}
    </div>
    <!-- <div class="col-1 h6 text-info text-center">
        @if (enableCheckBox) {
        <label class="container">
            <input type="checkbox" [(ngModel)]="selectAll" checked="checked">
            <span class="checkmark"></span>
        </label>
        }

    </div> -->
</div>

@for (item of contractService.contract.items; track $index) {

<div 
    [classList]="item.remainingItems==0?'contract-item row m-1 align-middle rounded border border-success':'contract-item row m-1 rounded align-middle border border-warning'">

    <div class=" col-3 h6 text-center">
        {{item.stuff.name}}
    </div>


    <div class="col-2 h6 text-center">
        {{item.pricePerDay | number}}
    </div>

    <div class="col-2 h6 text-center">
        {{item.pricePerDay * item.quantity|number}}
    </div>

    <div class="col-2 h6 text-center">
        {{item.quantity}}
    </div>
    <div class="col-1 h6 text-center">
        {{item.remainingItems|number}}
    </div>

    <div class="col-2">
        <app-return-item [item]="item" [contractItemID]="item.id"></app-return-item>
        <app-returned-items [returnItems]="item.returnedItems" [contractItemID]="item.id"></app-returned-items>
    </div>
</div>
}

<!-- <span type="button" class="btn btn-outline-primary col-10" data-bs-toggle="modal"
    [attr.data-bs-target]="'#addReturnItem'">
    {{'return'|transloco}}
</span> -->


<!-- Modal -->
<div class="modal fade add-new-item-modal" [id]="'addReturnItem'" id="addReturnItem" tabindex="-1"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
        <!-- <div class="modal-dialog modal-sm modal-fullscreen" role="document"> -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;width: 100%;" id="modalTitleId">
                    {{"returnItem"|transloco}}
                </h5>
                <h6>
                   Hello how are you this is just for test
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <app-form-input-number [labelName]="'quantity'"
                            (value)="contractService.newReturnItem.quantity=($event)"></app-form-input-number>
                    </div>
                </div>

                <div class="col-12">
                    <app-form-input-number #priceInput [labelName]="'price'"
                        (value)="contractService.newReturnItem.price=($event)"></app-form-input-number>
                </div>
            </div>

            <!-- modal footer -->
            <div class="modal-footer p-4">
                <div class="col-12">


                    <div class="row">
                        <div class="col-12 col-md-6 p-3">
                            <div>
                                <button type="button" class="btn btn-outline-primary col-12">
                                    <span class="bi bi-plus-lg"></span>
                                    {{"return" |transloco}}</button>
                            </div>

                        </div>

                        <div class="col-12 col-md-6 p-3">
                            <div>
                                <button type="button" class="btn btn-outline-dark col-12 " data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span class="bi bi-door-open"></span>
                                    {{"close" |transloco}}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>