<ng-container *ngIf="(contractService.contract$|async) as contract">
    @if(contract !==undefined || contract !==null){
    <div class="row justify-content-center">
        <div
            class="col-12 col-md-3 m-3  rounded rounded-5 text-center border-info border-4 shadow-lg bg-body-secondary bg-opacity-50 bg-gradient">

            <span class="contract-label">
                {{'date'|transloco}}
            </span>
            <b class="contract-label-value">
                <app-config-date [date]="contract.date"></app-config-date>
            </b>
        </div>

        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'fullName'|transloco}}
            </span>
            <b class="">{{contract?.customer?.fullName??""}}</b>
        </div>
        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'contractNo'|transloco}}
            </span>
            <b>{{contract.contractNumber}} </b>
        </div>

        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <app-contract-status [contract]="contract"></app-contract-status>
            <span class="contract-label">
                {{'status'|transloco}}
            </span>
            <b class="text-success">{{contract.status}}</b>
        </div>
        <div class=" col-12 col-md-3 m-3  contract-label-container">

            <span class="contract-label">

                {{'mobile'|transloco}}
            </span>
            <b class="text-success">{{contract.customer.mobile}}</b>
        </div>
        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'rentLocation'|transloco}}
            </span>
            <b class="text-success">{{contract.rentLocation}}</b>
        </div>

    </div>
    <div class="row">

        <div class="row">
            <hr class="col-12" />
        </div>


        <app-contract-items [enableCheckBox]="false"></app-contract-items>



        <hr />
        <div class="col-12 col-md-4">
            <app-add-payment [sendForServer]="true"></app-add-payment>
        </div>

        <hr />
    </div>

    <div class="row justify-content-center">

        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'totalPaid'|transloco}}
            </span>
            <b class="contract-label-value">{{contract.totalPaidAmount|number}}</b>
        </div>

        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'totalPrice'|transloco}}
            </span>
            <b class="contract-label-value">{{contract.totalPricePerDay|number}}</b>
        </div>

        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'remainItemsToReturn'|transloco}}
            </span>
            <b class="contract-label-value">{{contract.remainItemsToReturn|number}}</b>
        </div>


        <div class=" col-12 col-md-3 m-3  contract-label-container">
            <span class="contract-label">
                {{'totalPriceForReturnedItems'|transloco}}
            </span>
            <b class="contract-label-value">{{contract.totalPriceForReturnedItems|number}}</b>
        </div>


        <div class="col-12 col-md-6">`
            @if(contract.remainItemsToReturn ==0&&
            contract.totalPaidAmount>=contract.totalPriceForReturnedItems){
            <button class="btn btn-info col-12" type="button" (click)="closeContract()">
                {{'closeContract'|transloco}}
            </button>
            }

            @if(contract.remainItemsToReturn >0){
            <span class="text-info">
                {{contract.remainItemsToReturn}}
                {{"needToBeReturned"|transloco}}
            </span>
            }

            @if(contract.totalPaidAmount<contract.totalPriceForReturnedItems) { <span class="text-danger">
                <b>
                    {{contract.totalPriceForReturnedItems-contract.totalPaidAmount|number}}
                </b>
                {{"needToBePaid"|transloco}}
                </span>
                }
        </div>
    </div>
    }

</ng-container>