<div class="row">
    <app-form-input-number [labelName]="'contractNoSeed'" (value)="settingService.userConfig.contractNoSeed=$event"
        [val]="settingService.userConfig.contractNoSeed"></app-form-input-number>
</div>


<div class="row">
    <app-form-input-number [labelName]="'taxPercent'" (value)="settingService.userConfig.taxPercent=$event"
        [val]="settingService.userConfig.taxPercent"></app-form-input-number>
</div>

<div class="row">
    <ng-select [(ngModel)]="settingService.userConfig.serviceType">
        <ng-option [value]="1">{{'Rent'|transloco}}</ng-option>
        <ng-option [value]="2">{{'Sell'|transloco}}</ng-option>
        <ng-option [value]="3">{{'Both'|transloco}}</ng-option>
    </ng-select>
</div>

<div class="row">
    <button class="btn btn-outline-primary" (click)="save()">{{'save'|transloco}}</button>
</div>