<div class="row">
    <app-form-input-number [labelName]="'contractNoSeed'" (value)="settingService.userConfig.contractNoSeed=$event"
        [val]="settingService.userConfig.contractNoSeed"></app-form-input-number>
</div>


<div class="row">
    <app-form-input-number [labelName]="'taxPercent'" (value)="settingService.userConfig.taxPercent=$event"
        [val]="settingService.userConfig.taxPercent"></app-form-input-number>
</div>

<div class="row">
    <select>
        <option value="Rent">Rent text</option>
        <option value="Sell">Sell text</option>
    </select>
</div>




<div class="row">
    <button class="btn btn-outline-primary" (click)="save()">Sve</button>
</div>