/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: IRANSans;
    src: url(assets/fonts/IRANSans-web.woff) format("opentype");
}

* {
    font-family: IRANSans !important;
}

body {
    @media (max-width: 500px) {
        //background-image: url('assets/images/background-vertical.png');
        background-image: url('assets/images/background.png');
        transition-duration: .500ms;
    }

    @media (min-width: 500px) {
        background-image: url('assets/images/background.png');
    }
}
