<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId" role="tablist">
  <li class="nav-item">
    <a routerLink="/" class="nav-link active" data-bs-toggle="tab" aria-current="page" routerLinkActive="active">Rent
      App</a>
  </li>
  <li class="nav-item" role="presentation">
    <a routerLink="stuff" class="nav-link" data-bs-toggle="tab" routerLinkActive="active">{{'stuff'|transloco}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a routerLink="customers" class="nav-link" data-bs-toggle="tab"
      routerLinkActive="active">{{'customers'|transloco}}</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      🌐
    </a>
    <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item " (click)="changeLang('fa')">فارسی</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item " (click)="changeLang('en')">English</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item "  (click)="changeLang('ch')">Chinese</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item "  (click)="changeLang('ru')">Russion</a></li>
    </ul>
  </li>
  <li>
    <a href=""></a>
  </li>
</ul>
<br />

<div class="route-animation-container" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>