<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId" role="tablist">
  <li class="nav-item">
    <a [routerLink]="[this.transLoco.getActiveLang(),]" class="nav-link active" data-bs-toggle="tab" aria-current="page"
      routerLinkActive="active">{{'app-name'|transloco}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [routerLink]="[this.transLoco.getActiveLang(),'contracts']" class="nav-link" data-bs-toggle="tab"
      routerLinkActive="active">{{'contracts'|transloco}}</a>
  </li>

  <li class="nav-item" role="presentation">
    <a [routerLink]="[this.transLoco.getActiveLang(),'stuff']" class="nav-link" data-bs-toggle="tab" routerLinkActive="active" data-toggle="tooltip"
      data-placement="bottom" [title]="'stuffTooltip'|transloco">{{'stuff'|transloco}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [routerLink]="[this.transLoco.getActiveLang(),'customers']" class="nav-link" data-bs-toggle="tab"
      routerLinkActive="active">{{'customers'|transloco}}</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      🌐
      {{selectedLang}}
    </a>
    <ul class="dropdown-menu text-center lang-list" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item " routerLinkActive="active" (click)="changeLang('fa')">Persian (فارسی)</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('en')">English</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ka')">Georgian (ქართული)</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ru')">Russion (Русский)</a></li>
      <li>
        <hr class="dropdown-divider ">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ch')">Chinese (中国人)</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('it')">Italian (Italiana)</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('fr')">France</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLinkActive="active" (click)="changeLang('ar')">Arabic (عربی)</a></li>
    </ul>
  </li>
  <li>
    <a href=""></a>
  </li>
</ul>
<br />

<div class="route-animation-container" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>



<div class="text-center mt-auto footer-hm">
  <hr />
  <hr />
  <p>
    <a class="link-info" href="https://www.linkedin.com/in/hassan-monjezi/"> developer hm</a>
  </p>
  <p>
    Version 2024/02/08
  </p>
</div>