<div class="row">
    <div class="col-12 col-md-6">
        <app-form-input [labelName]="'email'" (value)="userManager.loginModel.email=($event)"></app-form-input>
    </div>

    <div class="col-12 col-md-6">
        <app-form-input [labelName]="'password'" [type]="'password'" (value)="userManager.loginModel.password=($event)"></app-form-input>
    </div>

    <div class="col-12">
        <input class="form-control btn btn-outline-success" (click)="login()" type="button" [value]="'login'|transloco">
    </div>
</div>